.search-form {
	margin: 0 70px;
  max-height: 217px;
  max-width: 1280px;
  justify-content: center;
  /* background-color: #C4C4C4; */
}

.search-form__form {
	/* border: 1.5px solid rgba(170, 170, 170, 0.2);
	border-radius: 8px; */
  border: none;
  border-bottom: 1px solid #E8E8E8;
	min-height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .search-form__form:focus-within {
	border: 1px solid #2BE080;
} */

.search-form__label {
	width: 80%;
	padding-left: 25px;
}

.search-form__input {
	border: none;
	width: 100%;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	outline: none;
}

.search-form__button {
	min-width: 35px;
  min-height: 35px;
  padding: 0;
  border-radius: 48px;
  border: none;
  background-color: #3456f3;
  cursor: pointer;
  background-image: url("../../images/find.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.search-form__filter {
	display: flex;
	margin: 27px 0 10px;
	padding-bottom: 44px;
	justify-content: flex-start;
	align-items: flex-start;
	height: 18px;
	/* border-bottom: 1px solid rgba(170, 170, 170, 0.2); */
}

@media screen and (max-width: 800px) {
	.search-form {
		margin-left: 30px;
		margin-right: 30px;
	}

	.search-form__filter {
		padding-bottom: 52px;
	}
}

@media screen and (max-width: 500px) {
	.search-form__form {
		min-height: 56px;
	}

	.search-form {
		margin-left: 14px;
		margin-right: 14px;
	}

	.search-form__label {
		width: 60%;
		padding-left: 12px;
	}

	.search-form__input {
		font-size: 16px;
		line-height: 16px;
	}

	.search-form__input {
		border: none;
		width: 100%;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}

	.search-form__filter {
		margin-top: 31px;
    padding-bottom: 63px;
	}

	.search-form__button {
		width: 30px;
		height: 30px;
		margin-right: 6px;
	}
}